#rn_mainPopup {
	padding: 10px;
	height: 400px;
	width: 260px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h3 {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	text-align: center;
}

.rn_main-logo {
	height: 26px;
}

.rn_footer {
	bottom: 0;
	color: #707070;
	left: 50%;
	position: absolute;
	text-align: center;
	transform: translateX(-50%);
	width: 260px;
}

.rn_footer a {
	color: #4791df;
	outline: none;
	text-decoration: none;
}

.pin-icon {
	height: 18px;
	vertical-align: middle;
	width: 18px;
}

#recent-notes .timestamp {
	color: #707070;
	margin-right: 10px;
	text-decoration: underline;
}

.rn_tag {
	color: #4791df;
}