html {
	--white-color: #fefefe;
	--red-color: #ff0000;
	--light-gray-color: #b7b7b7;
	--action-button-color: #4791df;
	--action-button-hover-color: #3680ce;
	--widget-background-color: #eeeeee;
	--widget-text-color: #292929;
	--link-color: #4791df;

	--widget-playlist-tab-color: #eeeeee;
	--widget-playlist-tab-off-color: #dcdcdc;

	--main-border-color: #292929;
	--pin-buton-color: #c9c9c9;
	--pin-button-hover-color: #b7b7b7;
	--timestamp-color: #707070;
	--tool-background-color: #efefef;

	--edit-note-offset: -80px;
	--note-selection-color: var(--light-gray-color);
}

/*===  DARK THEME  ===*/
html[dark="true"] {
	--white-color: #fefefe;
	--red-color: #ff0000;
	--light-gray-color: #b7b7b7;
	--action-button-color: #4791df;
	--action-button-hover-color: #3680ce;
	--widget-background-color: #292929;
	--widget-text-color: #b7b7b7;
	--link-color: #4791df;

	--widget-playlist-tab-color: #404040;
	--widget-playlist-tab-off-color: #525252;


	--main-border-color: #b7b7b7;
	--pin-buton-color: #b7b7b7;
	--pin-button-hover-color: #a6a6a6;
	--timestamp-color: #707070;
	--tool-background-color: #efefef;

	--note-selection-color: var(--widget-playlist-tab-color);
}

#rn_widget {
	background-color: var(--widget-background-color);
	border-top: 2px solid var(--red-color);
	color: var(--widget-text-color);
	font-size: 14px;
	margin-bottom: 20px;
	padding: 10px 10px 20px 10px;
	text-align: center;
}

#rn_note-container {
	border: 1px solid var(--main-border-color);
	height: 340px;
	margin-top: 10px;
	padding: 5px;
	text-align: left;
	overflow-x: hidden;
	overflow-y: scroll;
}

#rn_note-container .existing-note {
	padding: 5px 0;
	position: relative;
}

#rn_note-container .existing-note p {
	display: inline;
	margin: 0;
	outline: none;
}

#rn_note-container .pin p {
	font-style: italic;
}

#rn_note-container .pin p a {
	font-style: normal;
}

.pin-icon {
	height: 18px;
	vertical-align: middle;
	width: 18px;
}

#rn_note-container .timestamp {
	color: var(--timestamp-color);
	margin-right: 10px;
	outline: none;
	text-decoration: underline;
}

#rn_note-container a {
	color: var(--link-color);
}

#rn_note-container a:visited {
	color: var(--link-color);
}

#rn_note-container a.timestamp:visited {
	color: var(--timestamp-color);
}

#rn_input-form {
	text-align: right;
}

#rn_note-input {
	background-color: transparent;
	border-bottom: 1px solid var(--main-border-color);
	border-left: 0;
	border-right: 0;
	border-top: 0;
	color: var(--widget-text-color);
	font-size: 14px;
	margin: 20px 0;
	outline: 0;
	padding-bottom: 2px;
	width: 100%;
}

#rn_note-input:focus {
	border-bottom: 1px solid var(--action-button-color);
}

#rn_note-input.error {
	border-bottom: 1px solid var(--red-color);
}

.rn_tag {
	color: var(--action-button-color);
}

.rn_button-action {
	background-color: var(--action-button-color);
	border: 0;
	border-radius: 3px;
	color: var(--white-color);
	cursor: pointer;
	font-size: 14px;
	margin-left: 15px;
	outline: 0;
	padding: 5px 10px;
}

.rn_button-action:hover {
	background-color: var(--action-button-hover-color);
}

.rn_button-action.gray {
	background-color: var(--pin-buton-color);
	color: var(--widget-background-color);
	padding: 5px 7px 3px;
}

.rn_button-action.gray:hover {
	background-color: var(--pin-button-hover-color);
}

#rn_note-submit {
	padding: 5px 20px;
}

.rn_notes-placeholder {
	color: var(--timestamp-color);
	margin: 0;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

/*===  PLAYLIST  ===*/

.rn_tabs {
	background-color: var(--widget-playlist-tab-off-color);
	height: 50px;
}

.rn_tab-container {
	display: inline-block;
	width: 50%;
}

.rn_tab {
	color: var(--widget-text-color);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 0;
	text-align: center;
	width: 100%;
}

.rn_tab-radio:checked + .rn_tab {
	background-color: var(--widget-playlist-tab-color);
	border-top: 2px solid var(--red-color);
	color: var(--red-color);
}

input[type="radio"] {
	display: none;
}

/*===  PLAYER CONTROLS  ===*/

#rn_youtube-control {
	height: 20px;
	padding: 6px;
}

/*=== TOOLBAR ===*/

#rn_tools {
	background-color: var(--tool-background-color);
	border-left: 2px solid var(--red-color);
	box-shadow: 0 0 4px rgba(0,0,0,.5);
	display: none;
	list-style: none;
	padding-left: 0;
	position: absolute;
	z-index: 999;
}

#rn_tools li {
	display: inline-block;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

#rn_tools li button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
	height: 40px;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
}

#rn_tools li button img {
	height: 20px;
	width: 20px;
}

#rn_tools li:hover {
	background-color: var(--pin-button-hover-color);
}

/*=== EDIT ACTIONS ===*/

#rn_note-container .existing-note {
	left: 0;
	transition-duration: .2s;
}

#rn_note-container.edit .existing-note:hover {
	left: var(--edit-note-offset);
	transition-duration: .2s;
}

#rn_note-container .existing-note .edit-actions {
	height: 100%;
	position: absolute;
	right: var(--edit-note-offset);
	top: 0;
	width: calc(-1 * var(--edit-note-offset));
}

#rn_note-container.edit .existing-note {
	left: -30px;
	transition-duration: .2s;
}

#rn_note-container .existing-note p::selection {
	background-color: var(--note-selection-color);
}

#rn_note-container .existing-note p[contenteditable="true"]::after {
	background-color: var(--widget-background-color);
	color: var(--timestamp-color);
	content: " (editing)";
}

.edit-action {
	display: inline-block;
	height: 100%;
	width: 50%;
}

.edit-action:hover {
	cursor: pointer;
	opacity: .5;
}

.edit-action img {
	height: 22px;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
}

.rn_edit-buttons {
	display: block;
	margin-top: 10px;
	text-align: right;
}

.rn_cancel-edit-button.gray {
	background-color: var(--white-color);
	border: 1px solid var(--pin-buton-color);
	color: var(--widget-text-color);
	padding: 5px 10px;
}

.rn_notify-deleted {
	background-color: var(--widget-playlist-tab-off-color);
	margin: 0 -5px;
	padding: 5px 0;
	text-align: center;
}

.rn_undo-action {
	color: var(--link-color);
	cursor: pointer;
}