html {
	--white-color: #fefefe;
	--red-color: #ff0000;
	--light-gray-color: #b7b7b7;
	--action-button-color: #4791df;
	--action-button-hover-color: #3680ce;
	--widget-background-color: #eeeeee;
	--widget-text-color: #292929;
	--link-color: #4791df;
	--note-hover-color: #dbdbdb;

	--widget-playlist-tab-color: #eeeeee;
	--widget-playlist-tab-off-color: #dcdcdc;

	--main-border-color: #292929;
	--pin-button-color: #c9c9c9;
	--pin-button-hover-color: #b7b7b7;
	--timestamp-color: #707070;
	--tool-background-color: #efefef;

	--edit-note-offset: -80px;
	--note-selection-color: var(--light-gray-color);

	--nav-active-color: #dcdcdc;
	--help-button-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/help_icon_gray.svg');
	--help-modal-padding: 20px;
	--menu-description-color: #4d4d4d;
	--menu-header-color: #0a0a0a;
}

/*===  DARK THEME  ===*/
html[dark="true"] {
	--white-color: #fefefe;
	--red-color: #ff0000;
	--light-gray-color: #b7b7b7;
	--action-button-color: #4791df;
	--action-button-hover-color: #3680ce;
	--widget-background-color: #292929;
	--widget-text-color: #b7b7b7;
	--link-color: #4791df;
	--note-hover-color: #404040;

	--widget-playlist-tab-color: #404040;
	--widget-playlist-tab-off-color: #525252;

	--main-border-color: #b7b7b7;
	--pin-button-color: #b7b7b7;
	--pin-button-hover-color: #a6a6a6;
	--timestamp-color: #707070;
	--tool-background-color: #efefef;

	--note-selection-color: var(--widget-playlist-tab-color);

	--nav-active-color: #525252;
	--help-button-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/help_icon_white.svg');
	--menu-description-color: #9f9f9f;
	--menu-header-color: #efefef;
}

#rn_widget {
	background-color: var(--widget-background-color);
	border-top: 2px solid var(--red-color);
	color: var(--widget-text-color);
	font-size: 14px;
	margin-bottom: 20px;
	min-height: 450px;
	padding: 10px 10px 20px 10px;
	position: relative;
	text-align: right;
}

#rn_note-container {
	border: 1px solid var(--main-border-color);
	height: 310px;
	text-align: left;
	overflow-x: hidden;
	overflow-y: scroll;
}

#rn_note-container .existing-note {
	left: 0;
	padding: 5px;
	position: relative;
	transition-duration: .2s;
}

#rn_note-container .existing-note:hover {
	background-color: var(--note-hover-color);
}

#rn_note-container .existing-note p {
	display: inline;
	margin: 0;
	outline: none;
}

#rn_note-container .pin p {
	font-style: italic;
}

#rn_note-container .pin p a {
	font-style: normal;
}

.pin-icon {
	height: 18px;
	vertical-align: middle;
	width: 18px;
}

#rn_note-container .timestamp {
	color: var(--timestamp-color);
	margin-right: 10px;
	outline: none;
	text-decoration: underline;
}

#rn_note-container a {
	color: var(--link-color);
}

#rn_note-container a:visited {
	color: var(--link-color);
}

#rn_note-container a.timestamp:visited {
	color: var(--timestamp-color);
}

#rn_input-form {
	position: relative;
	text-align: right;
}

#rn_note-input {
	background-color: transparent;
	border-bottom: 1px solid var(--main-border-color);
	border-left: 0;
	border-right: 0;
	border-top: 0;
	color: var(--widget-text-color);
	cursor: text;
	font-size: 14px;
	margin: 20px 0 30px;
	min-height: 19px;
	outline: 0;
	padding-bottom: 2px;
	text-align: left;
	width: 100%;
}

p[placeholder]:empty:before {
	color: var(--timestamp-color);
	content: attr(placeholder);
}

p[placeholder]:empty:focus:before {
	content: "";
}

#rn_note-input:focus {
	border-bottom: 1px solid var(--action-button-color);
}

#rn_note-input.error {
	border-bottom: 1px solid var(--red-color);
}

.rn_tag {
	color: var(--action-button-color);
}

.rn_button-action {
	background-color: var(--action-button-color);
	border: 0;
	border-radius: 3px;
	color: var(--white-color);
	cursor: pointer;
	font-size: 14px;
	margin-left: 15px;
	outline: 0;
	padding: 5px 10px;
}

.rn_button-action:hover {
	background-color: var(--action-button-hover-color);
}

.rn_button-action.gray {
	background-color: var(--pin-button-color);
	color: var(--widget-background-color);
	padding: 5px 7px 3px;
}

.rn_button-action.gray:hover {
	background-color: var(--pin-button-hover-color);
}

#rn_note-submit,
#rn_edit-button {
	padding: 5px 20px;
}

#rn_note-submit.disabled {
	background-color: var(--light-gray-color);
	color: #0a0a0a;
	cursor: not-allowed;
}

.rn_notes-placeholder {
	color: var(--timestamp-color);
	margin: 0;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.settings-button {
	background-color: transparent;
	height: 25px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: -5px;
	padding: 5px;
	width: 30px;
}

.settings-button:hover {
	background-color: transparent;
}

.settings-icon {
	height: 100%;
	width: 100%;
}

#rn_action-bar {
	height: 20px;
	padding: 5px;
	text-align: left;
	width: 100%;
}

.rn_dashboard-link {
	color: var(--link-color);
	text-decoration: none;
}

.rn_dashboard-link:visited {
	color: var(--link-color);
}

#rn_input-limit {
	bottom: 35px;
	color: var(--link-color);
	right: 5px;
	position: absolute;
}

#rn_input-limit.over {
	color: red;
}

/*===  PLAYLIST  ===*/

.rn_tabs {
	background-color: var(--widget-playlist-tab-off-color);
	height: 50px;
}

.rn_tab-container {
	display: inline-block;
	width: 50%;
}

.rn_tab {
	color: var(--widget-text-color);
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 0;
	text-align: center;
	width: 100%;
}

.rn_tab-radio:checked + .rn_tab {
	background-color: var(--widget-playlist-tab-color);
	border-top: 2px solid var(--red-color);
	color: var(--red-color);
}

input[type="radio"] {
	display: none;
}

/*===  PLAYER CONTROLS  ===*/

#rn_youtube-control {
	height: 20px;
	padding: 6px;
}

/*=== TOOLBAR ===*/

#rn_tools {
	background-color: var(--tool-background-color);
	border-left: 2px solid var(--red-color);
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	display: none;
	list-style: none;
	padding-left: 0;
	position: absolute;
	z-index: 999;
}

#rn_tools li {
	display: inline-block;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

#rn_tools li button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;
	height: 40px;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
}

#rn_tools li button img {
	height: 20px;
	width: 20px;
}

#rn_tools li:hover {
	background-color: var(--pin-button-hover-color);
}

/*=== EDIT ACTIONS ===*/

#rn_note-container.edit .existing-note:hover {
	left: var(--edit-note-offset);
	transition-duration: .2s;
}

#rn_note-container .existing-note .edit-actions {
	height: 100%;
	position: absolute;
	right: var(--edit-note-offset);
	top: 0;
	width: calc(-1 * var(--edit-note-offset));
}

#rn_note-container.edit .existing-note {
	left: -30px;
	transition-duration: .2s;
}

#rn_note-container .existing-note p::selection {
	background-color: var(--note-selection-color);
}

#rn_note-container .existing-note p[contenteditable="true"]::after {
	background-color: transparent;
	color: var(--timestamp-color);
	content: " (editing)";
}

#rn_note-container .existing-note .edit-actions {
	background-color: transparent;
	transition-duration: .2s;
}

#rn_note-container .existing-note:hover .edit-actions {
	background-color: var(--note-hover-color);
	transition-duration: .2s;
}

.edit-action {
	background-color: transparent;
	display: inline-block;
	height: 100%;
	width: 50%;
}

.edit-action:hover {
	cursor: pointer;
	opacity: .5;
}

.edit-action img {
	height: 22px;
	left: 50%;
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
}

.rn_edit-buttons {
	display: block;
	margin-top: 10px;
	text-align: right;
}

.rn_cancel-edit-button.gray {
	background-color: var(--white-color);
	border: 1px solid var(--pin-button-color);
	color: var(--widget-text-color);
	padding: 5px 10px;
}

.rn_notify-deleted {
	background-color: var(--widget-playlist-tab-off-color);
	margin: 0 -5px;
	padding: 5px 0;
	text-align: center;
}

.rn_undo-action {
	color: var(--link-color);
	cursor: pointer;
}

.rn_notes-placeholder-login {
	cursor: pointer;
}

/*=== HELP ===*/

#rn_help-button {
	background-color: transparent;
	background-image: var(--help-button-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px;
	border: 0;
	border-radius: 100%;
	cursor: pointer;
	height: 40px;
	margin-right: 8px;
	outline: 0;
	padding: 8px;
	transition-duration: .3s;
	width: 40px;
}

#rn_help-button:active {
	background-color: var(--nav-active-color);
	transition-duration: .3s;
}

#help-modal {
	background-color: rgba(0, 0, 0, .6);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 2021;
}

#help-modal .modal-body {
	height: 90%;
	left: 50%;
	max-width: 90%;
	min-height: 450px;
	perspective: 1200px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
}

#help-modal .modal-sides {
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
	width: 100%;
}

#help-modal .modal-sides.flipped {
	transform: rotateY(180deg);
}

.modal-docs {
	backface-visibility: hidden;
	background-color: var(--widget-background-color);
	border-radius: 5px;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	transform: translateZ(1px);
	width: 100%;
}

.modal-shortcuts {
	background-color: var(--widget-background-color);
	border-radius: 5px;
	height: 100%;
	overflow-y: scroll;
	transform: rotateY(180deg) translateZ(1px);
	width: 100%;
}

.modal-docs .container,
.modal-shortcuts .container {
	padding: 20px;
}

.columns {
	display: flex;
}

.modal-body .column {
	flex: 1;
}

.modal-logo-container {
	text-align: left;
}

.modal-logo {
	height: 30px;
}

.shortcut-title {
	color: var(--menu-header-color);
}

h1.section-header {
	color: var(--menu-header-color);
	font-size: 34px;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

.modal-shortcuts h1.section-header {
	margin-top: 20px;
}

.modal-docs .column-header {
	font-size: 22px;
	margin-bottom: 10px;
}

.modal-docs .feature {
	border-bottom: 1px solid var(--note-hover-color);
	cursor: pointer;
	padding: 10px;
}

.modal-docs .feature:last-of-type {
	border-bottom: 0;
}

.feature-title {
	color: var(--menu-header-color);
	font-size: 22px;
	margin-bottom: 5px;
	margin-top: 0;
}

.feature-description {
	color: var(--menu-description-color);
	font-size: 16px;
	line-height: 1.2;
}

.keyboard-key {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6dadc;
	border-bottom-color: #cdd2d4;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
	color: #4d4d4d;
	cursor: default;
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	margin: 0 5px 10px 0;
	padding: 6px 15px;
	float: right;
}

.shortcut {
	padding: var(--help-modal-padding);
}

.shortcut h1 {
	font-size: 22px;
	line-height: 1.5;
}

.shortcut p {
	color: #8f8f8f;
	font-size: 19px;
	line-height: 1.4;
}

.shortcut:not(:last-of-type) {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.flip-modal {
	color: var(--link-color);
	font-size: 14px;
	position: absolute;
	text-decoration: none;
	top: var(--help-modal-padding);
}

.flip-modal.right {
	right: var(--help-modal-padding);
}

.flip-modal.left {
	left: var(--help-modal-padding);
}

.flip-modal:hover {
	text-decoration: underline;
}

.show-me {
	color: var(--link-color);
	cursor: pointer;
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	right: var(--help-modal-padding);
}

.show-me:hover {
	text-decoration: underline;
}

.help-target {
	border: 3px solid red;
	margin: -3px;
	transition-duration: .5s;
}

/*=== Timestamp Editing ===*/

.timestamp-notification {
	background-color: var(--action-button-color);
	color: white;
	display: none;
	left: 0;
	padding: 0 10px;
	position: absolute;
	top: 0;
	width: calc(100% - 20px);
	z-index: 2021;
}

.timestamp-notification p {
	font-size: 14px;
}

.limits-ui {
	bottom: 10px;
	color: var(--timestamp-color);
	font-size: 12px;
	position: absolute;
	text-align: left;
}

.limits-ui p {
	margin-bottom: 0;
}

.limits-ui a {
	color: var(--link-color);
	text-decoration: none;
}

.limits-ui a:hover {
	text-decoration: underline;
}

#rn_note-container .existing-note.selected {
	background-color: #cce6fa;
}

#rn_note-container .existing-note.selected + .existing-note.selected {
	border-top: 1px solid #9db6ca;
	padding: 4px 5px 5px;
}