#rn_mainPopup {
  padding: 10px;
  height: 425px;
  width: 260px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

a {
  color: #3680ce;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* As mentioned in a comment in page_action.js, the page action doesn't */
/* retain any kind of state after it's closed. For that reason, we need */
/* to hide both of these containers, because they'll be conditionally */
/* shown every time the popup is opened after the popup grabs the current */
/* state (whether or not the user is logged in) from the background script. */
#logged-in,
#logged-out {
  display: none;
}

.recent {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  text-align: center;
}

.view-all {
  font-size: 10px;
  margin-bottom: 2px;
  outline: none;
  text-align: right;
}

.rn_main-logo {
  height: 26px;
  margin-bottom: 15px;
  vertical-align: top;
}

#rn_log-out {
  float: right;
}

.rn_footer {
  bottom: 5px;
  color: #707070;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 260px;
}

.pin-icon {
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

#recent-notes .timestamp {
  color: #707070;
  margin-right: 10px;
  outline: none;
  text-decoration: underline;
}

.rn_tag {
  color: #4791df;
}

.recent-note {
  padding: 8px 0;
  border-top: 1px solid #efefef;
}

.recent-note-body {
  display: inline;
  margin: 0;
  width: 160px;
}

.rn_thumbnail {
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  width: 88.875px;
}

.note-body-container {
	display: inline-block;
	width: 160px;
}

.rn_thumbnail {
	display: inline-block;
	height: 50px;
	margin-right: 10px;
	vertical-align: top;
	width: 88.875px;
}

.align-right {
  display: inline-block;
  text-align: right;
  width: 85px;
}

#rn_welcome,
#rn_log-out {
  font-size: 10px;
  margin: 0;
}

#logged-out {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%)
}