#rn_mainPopup {
  padding: 0 5px 5px;
  height: 560px;
  width: 340px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

a {
  color: #3680ce;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logged-in,
#logged-out {
  display: none;
}

.recent {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  text-align: center;
}

.view-all {
  font-size: 10px;
  margin-bottom: 2px;
  outline: none;
  text-align: right;
}

.rn_main-logo {
  height: 26px;
  margin-bottom: 20px;
  vertical-align: top;
}

#rn_log-out {
  float: right;
}

.rn_footer {
  bottom: 2px;
  color: #707070;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 260px;
}

.pin-icon {
  height: 18px;
  vertical-align: middle;
  width: 18px;
}

#recent-notes .timestamp {
  color: #707070;
  margin-right: 5px;
  outline: none;
  text-decoration: underline;
}

.rn_tag {
  color: #4791df;
}

.recent-note {
  border-top: 1px solid #efefef;
  padding: 8px 0;
  position: relative;
}

.recent-note-body {
  display: inline;
  line-height: 16px;
  margin: 0;
}

.note-body-container {
	display: inline-block;
	width: 200px;
}

.rn_thumbnail {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	width: 130px;
}

.align-right {
  display: inline-block;
  text-align: right;
  width: 168px;
}

#rn_welcome,
#rn_log-out {
  font-size: 10px;
  margin: 0;
}

#rn_welcome {
  color: #707070;
}

#logged-out {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%)
}

.rn_date-created {
  bottom: 5px;
  color: #b7b7b7;
  font-size: 10px;
  position: absolute;
  right: 0;
}
